@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('https://assets.leapwallet.io/fonts/Satoshi-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('https://assets.leapwallet.io/fonts/Satoshi-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('https://assets.leapwallet.io/fonts/Satoshi-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('https://assets.leapwallet.io/fonts/Satoshi-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('https://assets.leapwallet.io/fonts/Satoshi-Black.woff2')
    format('woff2');
  font-weight: 900;
  font-display: swap;
}

.glowy-bg {
  box-shadow: -200px 120px 250px -70px rgba(232, 121, 249, 0.5),
    150px 0px 350px -30px rgba(129, 140, 248, 0.5);
}

.qr-code > svg {
  transform: scale(1.1);
}

.loader {
  position: relative;
  margin: 0px auto;
  width: 24px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: currentColor;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
